<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fragment">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--
    Adding android.hardware.camera.any makes sure that the device has a camera.
    Specifying .any means that it can be a front camera or a back camera.
    -->
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.tech.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tech.demoFragmentWithRecyclerView.Activity_with_Fargment"></activity>
        <activity android:name="com.tech.customView.CustomActivity" />
        <activity android:name="com.tech.rxMy.KamalRx" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.tech.myMap.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name="com.tech.myMap.MapActivity" />
        <activity android:name="com.tech.camerx.CameraActivity" />
        <activity
            android:name="com.tech.activity.SingleInstance"
            android:launchMode="singleInstance" />
        <activity android:name="com.tech.backgroundwork.CoroutineActivity" />
        <activity android:name="com.tech.backgroundwork.BackgroundActivity" />
        <activity android:name="com.tech.viewPager2.MyViewPager2" />
        <activity android:name="com.tech.rxMy.MyRxActivity" />
        <activity android:name="com.tech.databinding.FormActivity" />
        <activity android:name="com.tech.telephoneyMan.TeleActivity" />
        <activity android:name="com.tech.daggerPCK.DaggerActivity" />
        <activity android:name="com.tech.workman.WorkActivity" />
        <activity android:name="com.tech.kotlinemy.KotlinActivity" />
        <activity android:name="com.tech.viewModelExample.MainActivity" />
        <activity android:name="com.tech.activity.SingleTOP" />
        <activity android:name="com.tech.activity.ThirdActivity" />
        <activity android:name="com.tech.activity.SecondActivity" />
        <activity android:name="com.tech.activity.ActivityLifeCycle" />

        <service
            android:name="com.tech.playmucic.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.tech.playmucic.PlayMusicActivity" />
        <activity android:name="com.tech.corountine.CoActivity" />
        <activity android:name="com.tech.motionWork.MotionExample" />
        <activity
            android:name="com.tech.musicPlayer.songList.SongListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.tech.musicPlayer.playSong.PlaySongActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.tech.musicPlayer.player.PlayerService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name="com.tech.alarmManager.AlarmManagerActivity" />
        <activity android:name="com.tech.jobScheduler.JobSchedulerActivity" />
        <activity android:name="com.tech.broadcast.BroadCastActivity" />
        <activity android:name="com.tech.jobIntent.JobIntentActivity" />
        <activity android:name="com.tech.bound.SecondActivity" />

        <service
            android:name="com.tech.bound.BoundService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name="com.tech.bound.BoundActivity" />

        <service android:name="com.tech.foregroundService.MyService" />
        <service
            android:name="com.tech.jobIntent.MyJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name="com.tech.broadcast.MyBroadCastReceiver" /> <!-- <receiver android:name="com.tech.broadcast.CustomBroadCastReceiver" android:exported="true" /> -->
        <receiver android:name="com.tech.broadcast.OrderBroadCast2Receiver">
            <intent-filter android:priority="2">
                <action android:name="com.tech.broadcast.CUSTOM_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.tech.broadcast.OrderBroadCast3Receiver">
            <intent-filter android:priority="3">
                <action android:name="com.tech.broadcast.CUSTOM_BROADCAST" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.tech.foregroundService.ForegroundActivity"
            android:enabled="true"
            android:exported="true" />
        <activity android:name="com.tech.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tech.fragment.FragmentActivity" />

        <receiver
            android:name="com.tech.alarmManager.AlarmBroadCast"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.tech.alarmManager.AlarmService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />
        <service
            android:name="com.tech.jobScheduler.MyJobScheduler"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name="org.example.kotlin.databinding.MainActivity" />

        <service android:name="com.tech.intentSe.MyIntentService" />
    </application>

</manifest>