<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fragment">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tech.jobIntent.JobIntentActivity"></activity>
        <activity android:name="com.tech.bound.SecondActivity" />

        <service
            android:name="com.tech.bound.BoundService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name="com.tech.bound.BoundActivity" />

        <service android:name="com.tech.foregroundService.MyService" />
        <service
            android:name="com.tech.jobIntent.MyJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name="com.tech.foregroundService.ForegroundActivity"
            android:enabled="true"
            android:exported="true" />
        <activity android:name="com.tech.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tech.fragment.FragmentActivity" />
    </application>

</manifest>